.courses {
  padding-top: 123px;
  padding-bottom: 140px;
}

.courses__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses__title {
  margin-bottom: 13px;
}

.courses__description {
  max-width: 463px;
  text-align: center;
  opacity: .7;
  margin-bottom: 47px;
}

.courses__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;
}

.courses__item {
  min-height: 283px;
}

.course__title {
  max-width: 60%;
}

.course__subtitle {
  max-width: 36%;
}