.headline {
  position: relative;
  background: #253131;
  min-height: 718px;
  padding-bottom: 40px;
  overflow: hidden;
}

.headline:before {
  content: "";
  display: block;
  width: 1106px;
  height: 688px;
  position: absolute;
  background: url(../images/people.png) top -35px right no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
}

.headline:after {
  content: "";
  display: block;
  width: 783px;
  height: 1200px;
  border-radius: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(220px) translateY(-15px) rotate(45deg);
  box-shadow: 0px 0px 0px 2000px #253131;
}

.headline-content {
  display: flex;
  justify-content: space-between;
  min-height: 678px;
}

.headline__text-section {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  max-width: 47%;
  z-index: 10;
}

.headline__title {
  color: #fff;
  line-height: 1.17;
}

.headline__title span {
  color: #FDC332;
}

.headline__text {
  padding-top: 16px;
  padding-bottom: 40px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 1.95;
  opacity: .6;
}
