.mentors {
  padding-top: 124px;
  padding-bottom: 142px;
  background-image: linear-gradient(#fff, #F6F6F6 80%, #fff);
}

.mentors__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentors__title {
  margin-bottom: 12px;
}

.mentors__description {
  max-width: 31%;
  text-align: center;
  margin-bottom: 48px;
}

.mentors__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mentor__description {
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 24px 28px;
}

.mentor__title {
  margin-bottom: 12px;

}

.mentor__subtitle {
  margin-bottom: 16px;
}