.rating-content {
  display: flex;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.rating__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
}

.rating-content__link {
  font-size: 14px;
  font-weight: 400;
  opacity: .7;
  line-height: 14px;
}

.rating--size-big {
  column-gap: 13px;
}

.rating--size-big .rating__item{
  width: 20px;
  height: 20px;
}

.mentors__rating {
  margin-right: 8px;
}

.feedback__rating {
  margin-bottom: 12px;
}