.register {
  display: flex;
  justify-content: flex-end;
  column-gap: 24px;
}

.login-link {
  opacity: .6;
  transition: opacity .3s;
}

.signup-link {
  color: #FDC332;
  opacity: 1;
  transition: color .3s;
}

.register__link:hover {
  color: #fff;
  opacity: 1;
}