.card {
  background: #fff;
  max-width: 31.5%;
  flex: 1;
}

.card__link {
  width: 100%;
  height: 100%;
}

.card__pic {
  width: 100%;
  height: 202px;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 24px;
}

.card__title {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}

.card__subtitle {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  opacity: .7;
  line-height: 1.2;
}

